In [1]:
import pandas as pd
import csv
import matplotlib

In [2]:
df= pd.read_csv("csv_files/75thteam.csv")

In [3]:
df

,Name[5],Team(s) played for (years)[note 3],Pos,Pts,Reb,Ast,Championships won,MVP won,Finals MVP won,All Star,All-NBA,HoF Year,Ref.
0,Kareem Abdul-Jabbar,Milwaukee Bucks (1969â1975)Los Angeles Laker...,C,"38,387","17,440","5,660","6 (1971, 1980, 1982, 1985, 1987, 1988)","6 (1971, 1972, 1974, 1976, 1977, 1980)","2 (1971, 1985)",19,15,1995,[16]
1,Ray Allen,Milwaukee Bucks (1996â2003)Seattle SuperSoni...,G,"24,505","5,272","4,361","2 (2008, 2013)",NaN,NaN,10,2,2018,[17]
2,Giannis Antetokounmpo,Milwaukee Bucks (2013â2021),F,"12,319","5,371","2,632",1 (2021),"2 (2019, 2020)",1 (2021),5,5,TBD,[18]
3,Carmelo Anthony,Denver Nuggets (2003â2011)New York Knicks (2...,F,"27,370","7,520","3,354",NaN,NaN,NaN,10,6,TBD,[19]
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,"16,481","2,046","6,476",1 (1981),NaN,NaN,6,5,1991,[20]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Jerry West,Los Angeles Lakers (1960â1974),G,"25,192","5,366","6,238",1 (1972),NaN,1 (1969),14,12,1980[note 5][note 7],[87]
72,Russell Westbrook,Oklahoma City Thunder (2008â2019)Houston Roc...,G,"21,857","6,961","8,061",NaN,1 (2017),NaN,9,9,TBD,[88]
73,Lenny Wilkens,St. Louis Hawks (1960â1968)Seattle SuperSoni...,G,"17,772","5,030","7,211",NaN,NaN,NaN,9,0,1989,[89]
74,Dominique Wilkins,Atlanta Hawks (1982â1994)Los Angeles Clipper...,F,"26,668","7,169","2,677",NaN,NaN,NaN,9,7,2006,[88]
75,James Worthy,Los Angeles Lakers (1982â1994),F,"16,320","4,708","2,791","3 (1985, 1987, 1988)",NaN,1 (1988),7,2,2003,[90]

In [4]:
df.describe()

        All Star    All-NBA
count  76.000000  76.000000
mean    9.750000   7.236842
std     3.709897   4.197995
min     2.000000   0.000000
25%     7.000000   4.000000
50%    10.000000   7.000000
75%    12.000000  10.250000
max    21.000000  20.000000

In [5]:
df["stats"] = df.apply(lambda row: f"{row['Name[5]'][:5]}{int(row['Pts'].replace(',', ''))}", axis=1)

In [6]:
df['stats']

0     Karee38387
1     Ray A24505
2     Giann12319
3     Carme27370
4     Nate 16481
         ...
71    Jerry25192
72    Russe21857
73    Lenny17772
74    Domin26668
75    James16320
Name: stats, Length: 76, dtype: object

In [7]:
df = pd.concat([df, df['Pos']], axis=1)

In [8]:
print(len(df['Pos']), len(df['stats']))

76 76

In [9]:
df = df.reset_index(drop=True)

In [10]:
print(df.shape, df['Pos'].shape)

(76, 15) (76, 2)

In [11]:
print(df['Pos'].head(print(df['Pos'].columns)))  # See its structure

Index(['Pos', 'Pos'], dtype='object')
   Pos Pos
0    C   C
1    G   G
2    F   F
3    F   F
4    G   G
..  ..  ..
71   G   G
72   G   G
73   G   G
74   F   F
75   F   F

[76 rows x 2 columns]

In [12]:
df['stats'] = df['Pos'].iloc[:, 0]  # Select only the first column

In [13]:
print(df['Pos'].columns)

Index(['Pos', 'Pos'], dtype='object')

In [14]:
df = df.loc[:, ~df.columns.duplicated()]

In [15]:
df['stats'] = df['Pos']

In [16]:
print(df[['Pos']].head())

  Pos
0   C
1   G
2   F
3   F
4   G

In [17]:
df['stats']

0     C
1     G
2     F
3     F
4     G
     ..
71    G
72    G
73    G
74    F
75    F
Name: stats, Length: 76, dtype: object

In [ ]:
df['stats']=df.apply(lambda row: f"{str(row['Name[5]'])} {int(row['Pts'].replace(',',''))}{str(row['Pos'])}

In [ ]:
df['stats'] = df.apply(lambda row: f"{str(row['Name[5]'])} {int(row['Pts'].replace(',', ''))} {str(row['Pos'])}", axis=1)

In [ ]:
df['stats']

In [19]:
#Forwards with 15000 points or more
forwards= df[(df['Pts'].str.replace(',','').astype(int)>15000) & (df['Pos']=='F')]

for index, row in forwards.iterrows():
    print(f"{row['Name[5]']}:{row['Pts']} points")

Carmelo Anthony:27,370 points
Paul Arizin â :16,266 points
Charles Barkley:23,757 points
Rick Barry:18,395 points
Elgin Baylor â :23,149 points
Larry Bird:21,791 points
Kevin Durant:28,924 points
Julius Erving:18,364 points
LeBron James:40,017 points
Karl Malone:36,928 points
Kevin McHale:17,335 points
Dirk Nowitzki:31,560 points
Bob Pettit:20,880 points
Paul Pierce:26,397 points
Scottie Pippen:18,940 points
Dolph Schayes â :18,438 points
Dominique Wilkins:26,668 points
James Worthy:16,320 points

In [20]:
forwards.shape

(18, 14)

In [21]:
num_players = len(forwards)
print(f"Number of players: {num_players}")

Number of players: 18

In [22]:
forwards_sorted=forwards.sort_values(by="Pts", ascending=False)

In [23]:
#Forwards points in descending order (>15000)
forwards_sorted

,Name[5],Team(s) played for (years)[note 3],Pos,Pts,Reb,Ast,Championships won,MVP won,Finals MVP won,All Star,All-NBA,HoF Year,Ref.,stats
32,LeBron James,"Cleveland Cavaliers (2003â2010, 2014â2018)...",F,"40,017","10,847","11,046","4 (2012, 2013, 2016, 2020)","4 (2009, 2010, 2012, 2013)","4 (2012, 2013, 2016, 2020)",21,20,TBD,[48],F
40,Karl Malone,Utah Jazz (1985â2003)Los Angeles Lakers (200...,F,"36,928","14,968","5,248",NaN,"2 (1997, 1999)",NaN,14,14,2010[note 4],[56],F
49,Dirk Nowitzki,Dallas Mavericks (1998â2019),F,"31,560","11,489","3,651",1 (2011),1 (2007),1 (2011),14,12,2023,[65],F
21,Kevin Durant,Seattle SuperSonics / Oklahoma City Thunder (2...,F,"28,924","7,454","4,645","2 (2017, 2018)",1 (2014),"2 (2017, 2018)",14,11,TBD,[37],F
3,Carmelo Anthony,Denver Nuggets (2003â2011)New York Knicks (2...,F,"27,370","7,520","3,354",NaN,NaN,NaN,10,6,TBD,[19],F
74,Dominique Wilkins,Atlanta Hawks (1982â1994)Los Angeles Clipper...,F,"26,668","7,169","2,677",NaN,NaN,NaN,9,7,2006,[88],F
56,Paul Pierce,Boston Celtics (1998â2013)Brooklyn Nets (201...,F,"26,397","7,527","4,708",1 (2008),NaN,1 (2008),10,4,2021,[72],F
6,Charles Barkley,Philadelphia 76ers (1984â1992)Phoenix Suns (...,F,"23,757","12,546","4,215",NaN,1 (1993),NaN,11,11,2006[note 4],[22],F
8,Elgin Baylor â,Minneapolis / Los Angeles Lakers (1958â1971),F,"23,149","11,463","3,650",NaN,NaN,NaN,11,10,1977,[24],F
10,Larry Bird,Boston Celtics (1979â1992),F,"21,791","8,974","5,695","3 (1981, 1984, 1986)","3 (1984, 1985, 1986)","2 (1984, 1986)",12,10,1998[note 4],[26],F
55,Bob Pettit,Milwaukee / St. Louis Hawks (1954â1965),F,"20,880","12,849","2,369",1 (1958),"2 (1956, 1959)",NaN,11,11,1971,[71],F
57,Scottie Pippen,"Chicago Bulls (1987â1998, 2003â2004)Housto...",F,"18,940","7,494","6,135","6 (1991, 1992, 1993, 1996, 1997, 1998)",NaN,NaN,7,7,2010[note 4],[73],F
63,Dolph Schayes â,Syracuse Nationals / Philadelphia 76ers (1949â...,F,"18,438","11,256","3,072",1 (1955),NaN,NaN,12,12,1973,[79],F
7,Rick Barry,San Francisco / Golden State Warriors (1965â...,F,"18,395","5,168","4,017",1 (1975),NaN,1 (1975),8,6,1987,[23],F
22,Julius Erving,Philadelphia 76ers (1976â1987),F,"18,364","5,601","3,224",1 (1983),1 (1981),NaN,11,7,1993,[38],F
44,Kevin McHale,Boston Celtics (1980â1993),F,"17,335","7,122","1,670","3 (1981, 1984, 1986)",NaN,NaN,7,1,1999,[60],F
75,James Worthy,Los Angeles Lakers (1982â1994),F,"16,320","4,708","2,791","3 (1985, 1987, 1988)",NaN,1 (1988),7,2,2003,[90],F
5,Paul Arizin â,"Philadelphia Warriors (1950â1952, 1954â1962)",F,"16,266","6,129","1,665",1 (1956),NaN,NaN,10,4,1978,[21],F

In [47]:
#Centers with 15000 points or more
Centers= df[(df['Pts'].str.replace(',', '').astype(int)>15000) & (df['Pos']=='C')]

for index, row in Centers.iterrows():
    print(f"{row['Name[5]']}: {row['Pts']} points")

Kareem Abdul-Jabbar: 38,387 points
Wilt Chamberlain â : 31,419 points
Patrick Ewing: 24,815 points
Moses Malone â : 27,409 points
Hakeem Olajuwon: 26,946 points
Shaquille O'Neal: 28,596 points
Robert Parish: 23,334 points
David Robinson: 20,790 points

In [48]:
num_centers=len(Centers)
print(f"Number of Centers: {num_centers}")

Number of Centers: 8

In [49]:
#Guards with >10000 points and 5000 assists
Guards= df[
    (df["Pts"].str.replace(",", "").astype(int) > 10000) & 
    (df["Ast"].str.replace(",", "").astype(int) > 5000)&
    (df["Pos"]=='G')]
for index, row in Guards.iterrows():
    print(f"{row['Name[5]']}: {row['Pts']} points;{row['Ast']} assists")

Nate Archibald: 16,481 points;6,476 assists
Dave Bing: 18,327 points;5,397 assists
Kobe Bryant â : 33,643 points;6,306 assists
Bob Cousy: 16,960 points;6,955 assists
Stephen Curry: 23,668 points;6,119 assists
Clyde Drexler: 22,195 points;6,125 assists
Walt Frazier: 15,581 points;5,040 assists
James Harden: 22,045 points;5,730 assists
Allen Iverson: 24,368 points;5,624 assists
Magic Johnson: 17,707 points;10,141 assists
Michael Jordan: 32,292 points;5,633 assists
Jason Kidd: 17,529 points;12,091 assists
Steve Nash: 17,387 points;10,335 assists
Chris Paul: 19,978 points;10,275 assists
Gary Payton: 21,813 points;8,966 assists
Oscar Robertson: 26,710 points;9,887 assists
John Stockton: 19,711 points;15,806 assists
Isiah Thomas: 18,822 points;9,061 assists
Dwyane Wade: 23,165 points;5,701 assists
Jerry West: 25,192 points;6,238 assists
Russell Westbrook: 21,857 points;8,061 assists
Lenny Wilkens: 17,772 points;7,211 assists

In [27]:
num_guards=len(Guards)
print(f"Number of Guards:{num_guards}")

Number of Guards:22

In [28]:
guards_sorted=Guards.sort_values(by="All Star", ascending=False)

In [50]:
#sorted by All-star appearances
guards_sorted

,Name[5],Team(s) played for (years)[note 3],Pos,Pts,Reb,Ast,Championships won,MVP won,Finals MVP won,All Star,All-NBA,HoF Year,Ref.,stats
11,Kobe Bryant â,Los Angeles Lakers (1996â2016),G,"33,643","7,047","6,306","5 (2000, 2001, 2002, 2009, 2010)",1 (2008),"2 (2009, 2010)",18,15,2020,[27],G
71,Jerry West,Los Angeles Lakers (1960â1974),G,"25,192","5,366","6,238",1 (1972),NaN,1 (1969),14,12,1980[note 5][note 7],[87],G
35,Michael Jordan,"Chicago Bulls (1984â1993, 1995â1998)Washin...",G,"32,292","6,672","5,633","6 (1991, 1992, 1993, 1996, 1997, 1998)","5 (1988, 1991, 1992, 1996, 1998)","6 (1991, 1992, 1993, 1996, 1997, 1998)",14,11,2009[note 4],[51],G
13,Bob Cousy,Boston Celtics (1950â1963)Cincinnati Royals ...,G,"16,960","4,786","6,955","6 (1957, 1959, 1960, 1961, 1962, 1963)",1 (1957),NaN,13,12,1971,[29],G
69,Dwyane Wade,"Miami Heat (2003â2016, 2018â2019)Chicago B...",G,"23,165","4,933","5,701","3 (2006, 2012, 2013)",NaN,1 (2006),13,8,2023,[85],G
59,Oscar Robertson,Cincinnati Royals (1960â1970)Milwaukee Bucks...,G,"26,710","7,804","9,887",1 (1971),1 (1964),NaN,12,11,1980[note 5],[75],G
33,Magic Johnson,"Los Angeles Lakers (1979â1991, 1996)",G,"17,707","6,559","10,141","5 (1980, 1982, 1985, 1987, 1988)","3 (1987, 1989, 1990)","3 (1980, 1982, 1987)",12,10,2002[note 4],[49],G
66,Isiah Thomas,Detroit Pistons (1981â1994),G,"18,822","3,478","9,061","2 (1989, 1990)",NaN,1 (1990),12,5,2000,[82],G
31,Allen Iverson,"Philadelphia 76ers (1996â2006, 2009â2010)D...",G,"24,368","3,394","5,624",NaN,1 (2001),NaN,11,8,2016,[47],G
53,Chris Paul,New Orleans Hornets (2005â2011)Los Angeles C...,G,"19,978","4,923","10,275",NaN,NaN,NaN,11,10,TBD,[69],G
36,Jason Kidd,"Dallas Mavericks (1994â1996, 2008â2012)Pho...",G,"17,529","8,725","12,091",1 (2011),NaN,NaN,10,6,2018,[52],G
16,Stephen Curry,Golden State Warriors (2009â2024),G,"23,668","4,509","6,119","4 (2015, 2017, 2018, 2022)","2 (2015, 2016)",1 (2022),10,10,TBD,[32],G
19,Clyde Drexler,Portland Trail Blazers (1983â1995)Houston Ro...,G,"22,195","6,677","6,125",1 (1995),NaN,NaN,10,5,2004[note 4],[35],G
65,John Stockton,Utah Jazz (1984â2003),G,"19,711","4,051","15,806",NaN,NaN,NaN,10,11,2009[note 4],[81],G
72,Russell Westbrook,Oklahoma City Thunder (2008â2019)Houston Roc...,G,"21,857","6,961","8,061",NaN,1 (2017),NaN,9,9,TBD,[88],G
73,Lenny Wilkens,St. Louis Hawks (1960â1968)Seattle SuperSoni...,G,"17,772","5,030","7,211",NaN,NaN,NaN,9,0,1989,[89],G
54,Gary Payton,Seattle SuperSonics (1990â2003)Milwaukee Buc...,G,"21,813","5,269","8,966",1 (2006),NaN,NaN,9,9,2013,[70],G
28,James Harden,Oklahoma City Thunder (2009â2012)Houston Roc...,G,"22,045","4,794","5,730",NaN,1 (2018),NaN,9,7,TBD,[44],G
48,Steve Nash,"Phoenix Suns (1996â1998, 2004â2012) Dallas...",G,"17,387","3,642","10,335",NaN,"2 (2005, 2006)",NaN,8,7,2018,[64],G
9,Dave Bing,Detroit Pistons (1966â1975)Washington Bullet...,G,"18,327","3,420","5,397",NaN,NaN,NaN,7,3,1990,[25],G
24,Walt Frazier,New York Knicks (1967â1977)Cleveland Cavalie...,G,"15,581","4,830","5,040","2 (1970, 1973)",NaN,NaN,7,6,1987,[40],G
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,"16,481","2,046","6,476",1 (1981),NaN,NaN,6,5,1991,[20],G

In [30]:
Guards = Guards.drop(columns=["stats"])

In [31]:
Guards

,Name[5],Team(s) played for (years)[note 3],Pos,Pts,Reb,Ast,Championships won,MVP won,Finals MVP won,All Star,All-NBA,HoF Year,Ref.
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,"16,481","2,046","6,476",1 (1981),NaN,NaN,6,5,1991,[20]
9,Dave Bing,Detroit Pistons (1966â1975)Washington Bullet...,G,"18,327","3,420","5,397",NaN,NaN,NaN,7,3,1990,[25]
11,Kobe Bryant â,Los Angeles Lakers (1996â2016),G,"33,643","7,047","6,306","5 (2000, 2001, 2002, 2009, 2010)",1 (2008),"2 (2009, 2010)",18,15,2020,[27]
13,Bob Cousy,Boston Celtics (1950â1963)Cincinnati Royals ...,G,"16,960","4,786","6,955","6 (1957, 1959, 1960, 1961, 1962, 1963)",1 (1957),NaN,13,12,1971,[29]
16,Stephen Curry,Golden State Warriors (2009â2024),G,"23,668","4,509","6,119","4 (2015, 2017, 2018, 2022)","2 (2015, 2016)",1 (2022),10,10,TBD,[32]
19,Clyde Drexler,Portland Trail Blazers (1983â1995)Houston Ro...,G,"22,195","6,677","6,125",1 (1995),NaN,NaN,10,5,2004[note 4],[35]
24,Walt Frazier,New York Knicks (1967â1977)Cleveland Cavalie...,G,"15,581","4,830","5,040","2 (1970, 1973)",NaN,NaN,7,6,1987,[40]
28,James Harden,Oklahoma City Thunder (2009â2012)Houston Roc...,G,"22,045","4,794","5,730",NaN,1 (2018),NaN,9,7,TBD,[44]
31,Allen Iverson,"Philadelphia 76ers (1996â2006, 2009â2010)D...",G,"24,368","3,394","5,624",NaN,1 (2001),NaN,11,8,2016,[47]
33,Magic Johnson,"Los Angeles Lakers (1979â1991, 1996)",G,"17,707","6,559","10,141","5 (1980, 1982, 1985, 1987, 1988)","3 (1987, 1989, 1990)","3 (1980, 1982, 1987)",12,10,2002[note 4],[49]
35,Michael Jordan,"Chicago Bulls (1984â1993, 1995â1998)Washin...",G,"32,292","6,672","5,633","6 (1991, 1992, 1993, 1996, 1997, 1998)","5 (1988, 1991, 1992, 1996, 1998)","6 (1991, 1992, 1993, 1996, 1997, 1998)",14,11,2009[note 4],[51]
36,Jason Kidd,"Dallas Mavericks (1994â1996, 2008â2012)Pho...",G,"17,529","8,725","12,091",1 (2011),NaN,NaN,10,6,2018,[52]
48,Steve Nash,"Phoenix Suns (1996â1998, 2004â2012) Dallas...",G,"17,387","3,642","10,335",NaN,"2 (2005, 2006)",NaN,8,7,2018,[64]
53,Chris Paul,New Orleans Hornets (2005â2011)Los Angeles C...,G,"19,978","4,923","10,275",NaN,NaN,NaN,11,10,TBD,[69]
54,Gary Payton,Seattle SuperSonics (1990â2003)Milwaukee Buc...,G,"21,813","5,269","8,966",1 (2006),NaN,NaN,9,9,2013,[70]
59,Oscar Robertson,Cincinnati Royals (1960â1970)Milwaukee Bucks...,G,"26,710","7,804","9,887",1 (1971),1 (1964),NaN,12,11,1980[note 5],[75]
65,John Stockton,Utah Jazz (1984â2003),G,"19,711","4,051","15,806",NaN,NaN,NaN,10,11,2009[note 4],[81]
66,Isiah Thomas,Detroit Pistons (1981â1994),G,"18,822","3,478","9,061","2 (1989, 1990)",NaN,1 (1990),12,5,2000,[82]
69,Dwyane Wade,"Miami Heat (2003â2016, 2018â2019)Chicago B...",G,"23,165","4,933","5,701","3 (2006, 2012, 2013)",NaN,1 (2006),13,8,2023,[85]
71,Jerry West,Los Angeles Lakers (1960â1974),G,"25,192","5,366","6,238",1 (1972),NaN,1 (1969),14,12,1980[note 5][note 7],[87]
72,Russell Westbrook,Oklahoma City Thunder (2008â2019)Houston Roc...,G,"21,857","6,961","8,061",NaN,1 (2017),NaN,9,9,TBD,[88]
73,Lenny Wilkens,St. Louis Hawks (1960â1968)Seattle SuperSoni...,G,"17,772","5,030","7,211",NaN,NaN,NaN,9,0,1989,[89]

In [51]:
#Players with more than 1 ring and Mvp won

def extract_first_number(df, columns):
    for column in columns:
        df[column] = df[column].astype(str).str.extract('(\d+)').astype(float).fillna(0).astype(int)
    return df

# Apply the function to clean multiple columns
columns_to_clean = ['All Star', 'MVP won', 'Championships won']
df = extract_first_number(df, columns_to_clean)




Elites = df[(df["Pts"].str.replace(",", "").astype(float) > 10000) & (df["Ast"].str.replace(",","").astype(float)>3000)
        & (df["All Star"].astype(float)>5) & (df["MVP won"].astype(float)>0) & (df["Championships won"].astype(float)>0)]
# Fill NaN values
Clean_data= Elites[["All Star", "MVP won","Championships won"]].fillna(0)

# Iterate and print
for index, row in Elites.iterrows():
    print(f"{row['Name[5]']}: {row['Pts']} points; {row['Ast']} assists; {row['All Star']} All-star appearances ; {row['MVP won']} Mvp(s); {row['Championships won']} Rings")

Kareem Abdul-Jabbar: 38,387 points; 5,660 assists; 19 All-star appearances ; 6 Mvp(s); 6 Rings
Larry Bird: 21,791 points; 5,695 assists; 12 All-star appearances ; 3 Mvp(s); 3 Rings
Kobe Bryant â : 33,643 points; 6,306 assists; 18 All-star appearances ; 1 Mvp(s); 5 Rings
Wilt Chamberlain â : 31,419 points; 4,643 assists; 13 All-star appearances ; 4 Mvp(s); 2 Rings
Bob Cousy: 16,960 points; 6,955 assists; 13 All-star appearances ; 1 Mvp(s); 6 Rings
Stephen Curry: 23,668 points; 6,119 assists; 10 All-star appearances ; 2 Mvp(s); 4 Rings
Tim Duncan: 26,496 points; 4,225 assists; 15 All-star appearances ; 2 Mvp(s); 5 Rings
Kevin Durant: 28,924 points; 4,645 assists; 14 All-star appearances ; 1 Mvp(s); 2 Rings
Julius Erving: 18,364 points; 3,224 assists; 11 All-star appearances ; 1 Mvp(s); 1 Rings
Kevin Garnett: 26,071 points; 5,445 assists; 15 All-star appearances ; 1 Mvp(s); 1 Rings
LeBron James: 40,017 points; 11,046 assists; 21 All-star appearances ; 4 Mvp(s); 4 Rings
Magic Johnson: 17,707 points; 10,141 assists; 12 All-star appearances ; 3 Mvp(s); 5 Rings
Michael Jordan: 32,292 points; 5,633 assists; 14 All-star appearances ; 5 Mvp(s); 6 Rings
Dirk Nowitzki: 31,560 points; 3,651 assists; 14 All-star appearances ; 1 Mvp(s); 1 Rings
Hakeem Olajuwon: 26,946 points; 3,058 assists; 12 All-star appearances ; 1 Mvp(s); 2 Rings
Shaquille O'Neal: 28,596 points; 3,026 assists; 15 All-star appearances ; 1 Mvp(s); 4 Rings
Oscar Robertson: 26,710 points; 9,887 assists; 12 All-star appearances ; 1 Mvp(s); 1 Rings
Bill Russell: 14,522 points; 4,100 assists; 12 All-star appearances ; 5 Mvp(s); 11 Rings

In [33]:
num_elites=len(Elites)
print(f"Elite players: {num_elites}")

Elite players: 18

In [52]:
#Players with no rings and Mvps won
df[["Mvp won", "Championships won"]]= df[["MVP won","Championships won"]].fillna(0)
Influencials = df[(df[["MVP won","Championships won"]].astype(float)==0).all(axis=1)]

Clean_data= Influencials[["MVP won", "Championships won"]]
for index, row in Influencials.iterrows():
    print(f"{row['Name[5]']}: {row['Pts']} points;{row['Ast']} Asts;{row['Reb']} Rebs")

Carmelo Anthony: 27,370 points;3,354 Asts;7,520 Rebs
Elgin Baylor â : 23,149 points;3,650 Asts;11,463 Rebs
Dave Bing: 18,327 points;5,397 Asts;3,420 Rebs
Patrick Ewing: 24,815 points;2,215 Asts;11,607 Rebs
George Gervin: 20,708 points;2,214 Asts;3,607 Rebs
Damian Lillard: 16,815 points;4,514 Asts;2,856 Rebs
Pete Maravich â : 15,948 points;3,563 Asts;2,747 Rebs
Reggie Miller: 25,279 points;4,141 Asts;4,182 Rebs
Chris Paul: 19,978 points;10,275 Asts;4,923 Rebs
John Stockton: 19,711 points;15,806 Asts;4,051 Rebs
Nate Thurmond â : 14,437 points;2,575 Asts;14,464 Rebs
Lenny Wilkens: 17,772 points;7,211 Asts;5,030 Rebs
Dominique Wilkins: 26,668 points;2,677 Asts;7,169 Rebs